.letter-spacing span:nth-of-type(1){
 letter-spacing:2px;
}
.letter-spacing span1:nth-of-type(1){
 letter-spacing:14px;
}
.letter-spacing span2:nth-of-type(1){
 letter-spacing:-1px;
}
.letter-spacing span3:nth-of-type(1){
 letter-spacing:2px;
}

/*外枠*/
.centering_parent {
    padding: 300px;              /* 余白指定 */
    background-color:  #FFFFFF;    /* 背景色指定 */
    height: 1500px;              /* 高さ指定 */
}
 
/*内枠*/
.centering_item1 {
   text-align: center;
       white-space: nowrap;
       text-indent:0.6em;
    background-color: #FFFFFF;  /* 背景色指定 */
    width: 0 auto;               /* 幅指定 */
    height: 0 auto;               /* 高さ指定 */
/*    width: 0 auto; border: solid 2px #000;    /* 囲い枠指定 */*/
    margin: 0 auto;            /* 中央寄せ */
}

/*内枠*/
.centering_item2 {
    white-space: nowrap;
   text-align: center;
    background-color: #FFFFFF;  /* 背景色指定 */
    width: 0 auto;               /* 幅指定 */
    height: 0 auto;               /* 高さ指定 */
/*    width: 0 auto; border: solid 2px #000;    /* 囲い枠指定 */*/
    margin:  0 auto;            /* 中央寄せ */
}

.shopname {
    font-weight: 100;
    font-size: 48px;
    line-height: 100px;

}
